{% extends 'base.html' %}

{% block content %}
{{ super ()}}

<div class="container">
    <h3>Login</h3>
    {% for error in errors %}
    <p style="color:blue;">{{error}}</p>
    {% endfor %}
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    
    </form>
</div> 
{% endblock %}